<section class="products" id="products">

    <h1 class="heading"> our <span>products</span></h1>

    <div class="box-container">
        {% for product in products %}

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
            </div>
            <div class="image">
                <img src="{{ product.image.url }}" alt="">
            </div>
            <div class="content">
                <h3>{{ product.name }}</h3>
                <div class="price">${{ product.price }}
                    {% if product.old_price is not none %}
                    <span>$20.99</span>
                    {% endif %}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

</section>
